<% content_for :co_header do %>
  <div class="row co-header">
    <div class="col-md-3">
      <div>Sold Items Report</div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <div></div>
    </div>
  </div>
<% end %>
<%= form_tag purchased_sale_reports_path, method: :get, name: "purchased_sale-report" do %>
  <div class="row">
    <div class="col-md-3">
      <%= label_tag :name, "Item Name" %>
      <%= select_tag :name, options_for_select(@purchased_sales_item.pluck(:name).uniq, params[:name].present? ? params[:name] : 'All'), include_blank: "All", class: 'form-control', onchange: 'this.form.submit();' %>
    </div>
    <div class="col-md-3">
      <%= label_tag :category, "Select Category" %><br>
      <%= select_tag :category, options_for_select(@purchased_sales_item.pluck(:category).uniq, params[:category].present? ? params[:category] : 'All'), include_blank: "All", class: 'form-control', onchange: 'this.form.submit();' %>
    </div>
  </div>
<% end %>
<br><br>
<div class="row">
  <div class="col-md-12">
    <table id="custom-table">
      <thead>
        <tr>
          <th>SI No.</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Barcode</th>
          <th>Total Value</th>
        </tr>
      </thead>
      <tbody>
        <% if @purchased_sales_item.present? %>
          <% count = 0 %>
          <% @purchased_sales_item.each do |sold_item| %>
            <% count += 1 %>
            <tr>
              <td><%= count %></td>
              <td><%= sold_item.name %></td>
              <% price = sold_item.price.present? ? sold_item.price : 0 %>
              <td><%= "Rs.#{number_with_precision(price, precision: 2) rescue nil}" %></td>
              <td><%= sold_item.quantity %></td>
              <td><%= sold_item.category %></td>
              <td><%= sold_item.barcode %></td>
              <td><%= "Rs.#{number_with_precision((sold_item.quantity.to_i * price.to_f), precision: 2) rescue nil}" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <%= link_to 'Generate PDF', purchased_sale_reports_path(format: :pdf, name: params[:name], category: params[:category]), class: "btn btn-success", target: "_blank" %>
  </div>
</div>
<br><br><br>
<script type="text/javascript">
  $('#name').select2();
  $('#category').select2();
  $('#custom-table').dataTable();
</script>
<style type="text/css">
  .select2-container .select2-selection--single {
    height: 39px;
    padding-top: 5px
  }
  .select2-selection__arrow {
    margin-top: 5px;
  }
  #date-range {
    margin-top: -30px;
  }
  .calendar-icon {
    margin-left: 12px;
    margin-top: 10px;
  }
</style>
